{% if page.garant %}
<div class="o-section-block--spaceBot">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#toc" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Garant</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon" aria-hidden="true">
          <i class="fa fa-list"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="" id="toc">
        <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--unpadded">
          {% assign person = site.people | where:"name",page.garant | first %}
            {% include people/rbar_profile.html param="contacts" param2="candidate" %}

<!--          {% include people/item.html item=garant style='card' showDescription=false %}-->
        </div>
      </div>
    </li>
  </ul>
</div>
{% endif %}

<div class="o-section-block--spaceBot show-for-large">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#toc" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Komunální volby 2018</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon" aria-hidden="true">
          <i class="fa fa-list"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="" id="toc">
        <div class="c-widget-accordion-content-inner">
          <h4 class="c-widget-accordion-list__heading">Vize pro Chrudim</h4>
          <ul class="c-widget-accordion-list">
	    <ul>
              {% assign program = site.program  | sort:"order" %}
              {% for item in program %}
              <li><a {% if page.uid == item.uid %}class="c-widget-accordion-list__seen"{% endif%} href="{{item.url | relative_url}}">{{item.title}}</a></li>
              {% endfor %}
            </ul>
	  </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
